 /* Custom Navbar Styling */
.custom-navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px; /* Adjust height as needed */
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}

.nav-button {
  flex: 1;
  text-align: center;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-link i {
  font-size: 1.5rem; /* Adjust icon size */
}

.nav-link span {
  font-size: 0.75rem; /* Adjust text size */
}

/* Hover effect for the navigation links */
.nav-link:hover {
  color: #ff5722; /* Change to desired hover color */
}