<header>
  <div class="header-container container-fluid">
    <div class="user-info d-flex align-items-center">
      <span class="user-name me-3">Hello, John Doe</span>
      <button class="logout-button btn btn-outline-danger">Logout</button>
    </div>
    <h1 class="header-title">PnoWorld - Village Portal</h1>
    <div class="search-container d-flex align-items-center">
      <input type="text" placeholder="Search..." class="search-input form-control me-2">
      <button class="search-button btn btn-primary">Search</button>
    </div>
  
  </div>
</header>